@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";



body {
    font-family: 'Lobster Two', cursive;
    background-color: black;
    color: white;
}
  .btn {
    @apply bg-blue-500 mx-18 p-1 mb-6 rounded-md ;
  }
