---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>momento actual: {new Date().toLocaleString()}</p>
    <p id="currentTime">momento actual real:</p>

    <footer>año 2023</footer>
    <script>
      const currentYear: number = new Date().getFullYear();
      const footer = document.querySelector("footer");
      footer.innerHTML = `año ${currentYear}`;
      const currentTime = document.querySelector("#currentTime");
      setInterval(() => {
        currentTime.innerHTML = new Date().toLocaleString();
      }, 1000);
    </script>
  </body>
</html>
